.ukuran-gambar {
  width: 300px;
  height: 200px;
}
body {
  margin: 0;
  padding: 0;
  background-color: #f2ebe3; /* Warna coklat latar belakang */
  font-family: Arial, sans-serif;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.menu {
  background-color: #fff; /* Warna putih untuk menu */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.menu ul {
  list-style: none;
  padding: 0;
  text-align: center;
}

.menu ul li {
  margin: 10px 0;
}

.menu ul li a {
  text-decoration: none;
  color: #333; /* Warna teks menu */
  font-weight: bold;
  font-size: 18px;
}

.menu ul li a:hover {
  color: #555; /* Warna teks menu saat dihover */
}
